<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New School</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}" type="text/css">
</head>
<body>
<div class="container main-container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1>New School</h1>
            <form th:object="${school}" th:action="@{/schools}" method="post">

                <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                    <p>Please correct the errors below</p>
                </div>

                <input type="hidden" th:field="*{id}" >
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" th:field="*{name}" th:errorclass="is-invalid" placeholder="School Name">
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}">
                        <ul>
                            <li th:each="err : ${#fields.errors('name')}" th:text="${err}"></li>
                        </ul>
                    </div>
                </div>
                <div class="form-group">
                    <label>Start Date</label>
                    <input type="text" class="form-control" th:field="*{startDate}" th:errorclass="is-invalid" placeholder="Start Date">
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('startDate')}">
                        <ul>
                            <li th:each="err : ${#fields.errors('startDate')}" th:text="${err}"></li>
                        </ul>
                    </div>
                </div>
                <div class="form-group">
                    <label>End Date</label>
                    <input type="text" class="form-control" th:field="*{endDate}" th:errorclass="is-invalid" placeholder="End Date">
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('endDate')}">
                        <ul>
                            <li th:each="err : ${#fields.errors('endDate')}" th:text="${err}"></li>
                        </ul>
                    </div>
                </div>
                <div class="form-group">
                    <label>Degree</label>
                    <input type="text" class="form-control" th:field="*{degree}" th:errorclass="is-invalid" placeholder="Degree Earned">
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('degree')}" th:text="${err}">
                        <ul>
                            <li th:each="err : ${#fields.errors('degree')}"></li>
                        </ul>
                    </div>
                </div>
                <div class="row justify-content-end">
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-primary">Create</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

</body>
</html>