<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>New School</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}" type="text/css">

    <script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.0.0/js/bootstrap.min.js}"></script>
</head>
<body>
<nav class="navbar fixed-top navbar-expand-md navbar-dark bg-primary">
    <a class="navbar-brand" href="#" th:href="@{/}">Frank Vinci</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{/schools}">Experience</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{/schools}">Education</a>
            </li>
        </ul>

        <ul class="navbar-nav" sec:authorize="isAnonymous()">
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{/register}">Sign Up</a>
            </li>
            <li>
                <a class="nav-link" href="#" th:href="@{/login}">Log In</a>
            </li>
        </ul>
        <ul class="navbar-nav" sec:authorize="isAuthenticated()">
            <li class="nav-item">
                <span class="navbar-text" th:text="'Hello, ' + ${#authentication.principal.fullname}"></span>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{/logout}">Log Out</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container main-container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1>New School</h1>
            <form th:object="${school}" th:action="@{/schools}" method="post">

                <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                    <p>Please correct the errors below</p>
                </div>

                <input type="hidden" th:field="*{id}" >
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" th:field="*{name}" th:errorclass="is-invalid" placeholder="School Name">
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}">
                        <ul>
                            <li th:each="err : ${#fields.errors('name')}" th:text="${err}"></li>
                        </ul>
                    </div>
                </div>
                <div class="form-group">
                    <label>Start Date</label>
                    <input type="text" class="form-control" th:field="*{startDate}" th:errorclass="is-invalid" placeholder="Start Date">
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('startDate')}">
                        <ul>
                            <li th:each="err : ${#fields.errors('startDate')}" th:text="${err}"></li>
                        </ul>
                    </div>
                </div>
                <div class="form-group">
                    <label>End Date</label>
                    <input type="text" class="form-control" th:field="*{endDate}" th:errorclass="is-invalid" placeholder="End Date">
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('endDate')}">
                        <ul>
                            <li th:each="err : ${#fields.errors('endDate')}" th:text="${err}"></li>
                        </ul>
                    </div>
                </div>
                <div class="form-group">
                    <label>Degree</label>
                    <input type="text" class="form-control" th:field="*{degree}" th:errorclass="is-invalid" placeholder="Degree Earned">
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('degree')}" th:text="${err}">
                        <ul>
                            <li th:each="err : ${#fields.errors('degree')}"></li>
                        </ul>
                    </div>
                </div>
                <div class="row justify-content-end">
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-primary">Create</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

</body>
</html>