<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}" type="text/css">
</head>
<body>
<div class="container main-container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1>Schools</h1>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Degree</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="school : ${schools}">
                    <td th:text="${school.name}">Name</td>
                    <td th:text="${school.startDate}">Start Date</td>
                    <td th:text="${school.endDate}">End Date</td>
                    <td th:text="${school.degree}">Degree</td>
                    <td>View</td>
                    <td>Edit</td>
                    <td>Delete</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>